body{
  background-color: rgb(28, 21, 26);
  color:white;
}
p, h1{
  margin:0;
}

.home-content-container h1{
  font-size: 60px;
}

.brand-btn{
  border:1px solid rgb(255, 0, 81);
  color:white;
}
.brand-btn:hover{
  background-color: rgb(255, 0, 81);
  color:white;
  transition: all ease 0.5s;
}
.brand-text{
  color:rgb(19, 235, 142);
}
.active{
  background-color: rgb(19, 235, 142);
  border-radius: 15px;
  color:black;
  transition: all ease 0.9s;
}
.myicon{
  font-size: 50px;
  color:white;
}

.service-box{
  border:1px solid rgb(255, 0, 81);
  padding:25px;
  margin-top:20px;
}
.service-box:hover{
  background-color: rgb(255, 0, 81);
  border:1px solid rgb(255, 0, 81);
  transition: all ease 0.6s;
}
.service-box:hover .myicon{
  color:white;
}